/*Add padding and margin to space out the page.
Make the font larger too.*/

/*Week 2 -- Change the font-family*/
/*Week 2b - Change the background color*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	line-height: 1.5;
}

/*Make the h1 heading bigger with a bold font*/
/* Week2 - Change the font-size;*/
/* Week2 - Make the font uppercase; */
/* Week 2b- Change the font color; */
h1{
	font-size: 64px; 
	font-weight: bold;
	font-family: cursive;
}

/*Style the images*/
img{
    height: 200px;
    width:auto;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}



/*Added this so the links stay the same color*/
a:visited{color:#0000FF}

nav a {
	text-decoration: None;
}

.current {
	background-color: white;
	font-weight: bold;
	text-transform: 'uppercase';
	width: 25%;
}
